@font-face {
  font-family: "mono";
  src: url("../fonts/Inconsolata.otf");
}

@keyframes blink {
	0%	{ opacity: 1; }
	90%	{ opacity: 0; }
	100%	{ opacity: 1; }
}

@-moz-keyframes blink {
	0%	{ opacity: 1; }
	90%	{ opacity: 0; }
	100%	{ opacity: 1; }
}

@-webkit-keyframes blink {
	0%	{ opacity: 1; }
	90%	{ opacity: 0; }
	100%	{ opacity: 1; }
}

body {
	margin: 0;
	padding: 0;
	background: #e0e0c8;
}

/* =FileEditor
*************************************************/
.file-editor {
	position: absolute;
	top: 50%;
	height: 21em;
	left: 50%;
	margin-left: -40%;
	margin-top: -10em;
	box-sizing: border-box;
	width: 80%;
	font-family: sans-serif;

	-webkit-perspective: 3000px;
	-moz-perspective: 3000px;
	-ms-perspective: 3000px;
	-o-perspective: 3000px;
	perspective: 3000px;
}

.file-editor .settings,
.file-editor .editor {
	height: 20em;
	display: block;
	width: 100%;
	position: absolute;
	box-sizing: border-box;
	box-shadow: 0 3px 8px rgba(0,0,0,0.4);
	z-index: 4;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	-ms-transition: -ms-transform 0.8s;
	-o-transition: -o-transform 0.8s;
	transition: transform 0.8s;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.file-editor .settings {
	border-radius: 0.8em;
	font-family: mono;
	z-index: 6;
	background: #272822;

	-webkit-transform: rotateX(-180deg);
	   -moz-transform: rotateX(-180deg);
	    -ms-transform: rotateX(-180deg);
	     -o-transform: rotateX(-180deg);
	        transform: rotateX(-180deg);
}

.file-editor.edit .settings {
	-webkit-transform: rotateX(0deg);
	   -moz-transform: rotateX(0deg);
	    -ms-transform: rotateX(0deg);
	     -o-transform: rotateX(0deg);
	        transform: rotateX(0deg);
}

.file-editor.edit .editor {
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
	    -ms-transform: rotateX(180deg);
	     -o-transform: rotateX(180deg);
	        transform: rotateX(180deg);
}


.file-editor .settings h1 {
	border-radius: 0.3em 0.3em 0 0;
	background: #87A96B;
	color: #E8E8EF;
	margin: 0;
	text-indent: 1em;
	padding: 0.2em 0;
}

.file-editor .settings div {
	position: relative;
	font-size: 2em;
	top: 50%;
	margin-top: -1em;
	color: #F8F8F2;
	text-align: center;
}

.file-editor .settings span {
	color: #555;
}

.file-editor .footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	box-sizing: border-box;
	padding: 0 0.5em;
}

.file-editor .footer .line-count {
	float: right;
	font-size: 0.7em;
	color: #888;
	padding-top: 0.4em;
}

.file-editor .footer .line-count span {
	color: #000;
	margin-right: 0.2em;
	width: 2.2em;
	display: inline-block;
	text-align: right;
}

.file-editor .footer .line-count input {
	font-family: inherit;
	font-size: inherit;
	text-align: right;
	width: 2.2em;
	background: rgba(0,0,0,0.05);
	color: #000;
	border: 1px solid #aaa;
	border-radius: 0.4em;
	margin: 0;
	padding: 0;
	margin-left: 0.2em;
	margin-top: -1px;
	outline: none;
}

.file-editor .footer .line-count input::-moz-selection,
.file-editor .footer .line-count input::selection {
	background: #ffb46c;
}

.file-editor .footer .set-button {
	float: left;
	font-size: 0.8em;
	color: #888;
	padding: 0.1em 0.5em 0;
	cursor: pointer;
}

.file-editor .footer .set-button.selected {
	color: #000;
}

/* =Editor
*************************************************/
.editor {
	border-radius: 0.8em;
	position: relative;
	height: 20em;
	background: #fff;
	font-family: mono;
	-webkit-text-size-adjust: none;
	   -moz-text-size-adjust:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.editor textarea {
	position: absolute;
	resize: none;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	opacity: 0;
	width: 20px;
	left: -1000px;
}

.editor pre {
	display: none;
}

.editor.touch pre {
	display: block;
	position: absolute;
	margin: 0;
	border-radius: 0 0.5em 0.5em 0;
	box-sizing: border-box;
	left: 0;
	top: 0;
	padding-left: 0.75em;
	z-index: 20;
	height: 100%;
	min-width: 100%;
	font-size: 1em;
	font-family: inherit;
	line-height: 1.3em;
	background: #fff;
	color: #000;
	opacity: 0;
}

.editor .gutter {
	position: relative;
	height: 100%;
	z-index: 2;
	color: #aaa;
	background: #eee;
	border-radius: 0.5em 0 0 0.5em;
	float: left;
	text-align: right;
	overflow: hidden;
}

.editor .gutter .line {
	height: 1.3em;
	padding: 0 0.75em;
}

.editor .gutter .line.cursor {
	background: #ddd;
	color: #888;
}

.editor .gutter .line.foldable:before {
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border-color: #ccc transparent transparent transparent;
	border-style:solid;
	border-width: 0.45em 0.25em;
	right: 0.25em;
	top: 0.55em;
	cursor: pointer;
}

.editor .gutter .line.foldable.cursor:before {
	border-color: #aaa transparent transparent transparent;
}

.editor .gutter .line.folded:before {
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #ccc;
	border-style:solid;
	border-width: 0.3em 0.4em;
	right: -0.2em;
	top: 0.4em;
	cursor: pointer;
}

.editor .gutter .line.folded.cursor:before {
	border-color: transparent transparent transparent #aaa;
}

.editor .window {
	overflow: hidden;
	position: relative;
	height: 100%;
	border-radius: 0 0.5em 0.5em 0;
}

.editor .window .line-marker {
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.05);
	height: 1.3em;
	top: 0;
	outline: none;
}

.editor .window .cursor {
	height: 1.3em;
	position: absolute;
	top: 0;
	width: 0.15em;
	left: 0;
	margin-left: 0.75em;
}

.editor .window .cursor .marker {
	height: 1.3em;
	width: 0.15em;
	background: #aaa;
}

.editor.touch .window .cursor .tag {
	position: absolute;
	height: 3.6em;
	width: 56px;
	top: 0;
	margin: -1.15em 0;
	left: -28px;
	z-index: 20;
	cursor: text;
}

.editor .window .cursor.blink .marker {
	animation: blink 1s;
	animation-iteration-count: infinite;
	-moz-animation: blink 1s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation: blink 1s;
	-webkit-animation-iteration-count: infinite;
}

.editor .window .cursor.hidden { opacity: 0 }

.editor .line-marker .select {
	height: 1.3em;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #cce6ed;
}

.editor .line-marker .select.top {
	top: -2.6em;
}

.editor .line-marker .select.middle {
	top: -1.3em;
}

.editor .window .content {
	height: 100%;
	padding: 0 0.75em;
	position: relative;
	z-index: 6;
	overflow: hidden;
}

.editor .window .line {
	cursor: text;
	line-height: 1.3em;
	height: 1.3em;
	white-space: pre;
	position: relative;
	outline: none;
	text-shadow: 0 0 0 transparent;
	color: #000;
}

.editor .content span.folded {
	padding: 0 0.2em;
	letter-spacing:-0.1em;
}

.editor .key-toggle {
	font-size: 0.8em;
	opacity: 1;
	padding: 0.75em 1em 0.75em;
	float: left;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 21;
	border-radius: 0.5em 0 0.5em 0;
	background: #555;
	display: none;
	color:#ccc;
}

.editor .key-toggle img {
	height: 1.2em;
	margin-bottom: -0.3em;
}

.editor.touch .key-toggle { display: block; }

.editor.touch .key-toggle.hover {
	text-shadow: 0 0 2px #fff;
	color: #fff;
}

/* =Default Theme
*************************************************/
.editor .gutter {
	color: #e8e8ef;
	background: #87A96B;
}

.editor .window .line {
	color: rgba(70,70,70,1);
	text-shadow: 0 0 2px rgba(0,0,0,0);
}

.editor .window .cursor .zoom:after,
.editor .window .cursor .marker {
	background: #aaa
}

.editor .line,
.editor .line span {
	-webkit-transition: color 0.5s,text-shadow 0.5s;
	   -moz-transition: color 0.5s,text-shadow 0.5s;
	     -o-transition: color 0.5s,text-shadow 0.5s;
	        transition: color 0.5s,text-shadow 0.5s;
}

.editor span.folded {
	color: rgba(170, 170, 170, 1);
	text-shadow: 0 0 2px rgba(170, 170, 170, 0);
}

.editor span.keyword {
	color: rgba(0, 191, 255, 1);
	text-shadow: 0 0 2px rgba(0, 191, 255, 0);
}
.editor span.string {
	color: rgba(255, 0, 0, 1);
	text-shadow: 0 0 2px rgba(255, 0, 0, 0);
}
.editor span.comment {
	color: rgba(170, 170, 170, 1);
	text-shadow: 0 0 2px rgba(170, 170, 170, 0);
}
.editor span.regex {
	color: rgba(253, 168, 23, 1);
	text-shadow: 0 0 2px rgba(253, 168, 23, 0);
}
.editor span.number {
	color: rgba(174, 129, 255, 1);
	text-shadow: 0 0 2px rgba(255, 140, 0, 0);
}
.editor span.operator {
	color: rgba(136, 85, 85, 1);
	text-shadow: 0 0 2px rgba(136, 85, 85, 0);
}
.editor span.atom {
	color: rgba(0, 130, 179, 1);
	text-shadow: 0 0 2px rgba(0, 149, 198, 0);
}

/* =Shameless Monokai Ripoff
*************************************************/
.editor .window { background: #272822 }
.editor .window .line { color: #F8F8F2 }
.editor .window .line-marker { background: #302f29 }
.editor .window .line-marker .select { background: #49483E }
.editor span.keyword { color: #66D9EF }
.editor span.comment { color: #75715E }
.editor span.operator { color: #F92672 }
.editor span.number { color: #AE81FF }
.editor span.string { color: #E6DB74 }
.editor span.atom { color: #FD971F }

/* =MediaQueries!
*************************************************/
@media screen and (max-width: 640px){
	.file-editor {
		padding: 0;
		font-size: 0.8em;
	}
	
	.editor,
	.editor:before,
	.editor .gutter {
		border-radius: 0;
	}
}