@font-face {
  font-family: "mono";
  src: url("../fonts/Inconsolata.otf");
}

@keyframes blink {
	0%	{ opacity: 1; }
	90%	{ opacity: 0; }
	100%	{ opacity: 1; }
}

@-moz-keyframes blink {
	0%	{ opacity: 1; }
	90%	{ opacity: 0; }
	100%	{ opacity: 1; }
}

@-webkit-keyframes blink {
	0%	{ opacity: 1; }
	90%	{ opacity: 0; }
	100%	{ opacity: 1; }
}

body {
	margin: 0;
	padding: 0;
	background: #e0e0c8;
}

#debugger {
	height: 6em;
	position: absolute;
	bottom: 0;
	z-index: 100;
	background: #fff;
	width: 100%;
	left: 0;
	box-sizing: border-box;
	padding: 0 2em;
	margin: 0;
	overflow: scroll;
}

#debugger:before {
	content: 'debugger';
	text-align: right;
	background: #00bfff;
	color: #fff;
	font-family: mono;
	text-align: right;
	display: block;
	width: 100%;
	padding: 0 1em;
	margin: 0;
	margin-left: -1em;
}

.file-editor {
	position: absolute;
	top: 50%;
	height: 20em;
	margin-top: -10em;
	padding: 0 5em;
	box-sizing: border-box;
	width: 100%;
	font-family: sans-serif;
}

.file-editor .editor {
	height: 20em;
}

.file-editor .footer .line-count {
	float: right;
	font-size: 0.7em;
	color: #888;
}

.file-editor .footer .line-count span {
	color: #000;
	margin-right: 0.2em;
	width: 2.2em;
	display: inline-block;
	text-align: right;
}

.editor {
	border-radius: 0.5em;
	position: relative;
	height: 20em;
	overflow: hidden;
	background: #fff;
	font-family: mono;
	-webkit-text-size-adjust: none;
	   -moz-text-size-adjust:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.editor:before {
	content: '';
	z-index: 5;
	box-shadow: inset 0 2px 5px rgba(0,0,0,0.4);
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0.5em;
}

.editor textarea {
	position: absolute;
	resize: none;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	opacity: 0;
	width: 20px;
	left: -1000px;
}

.editor pre {
	display: none;
}

.editor.touch pre {
	display: block;
	position: absolute;
	margin: 0;
	border-radius: 0 0.5em 0.5em 0;
	box-sizing: border-box;
	left: 0;
	top: 0;
	padding-left: 0.75em;
	z-index: 20;
	height: 100%;
	min-width: 100%;
	font-size: 1em;
	font-family: inherit;
	line-height: 1.3em;
	color: #fff;
	opacity: 0;
}

.editor .gutter {
	position: relative;
	height: 100%;
	z-index: 2;
	color: #aaa;
	background: #eee;
	border-radius: 0.5em 0 0 0.5em;
	box-shadow: 1px 0 3px rgba(0,0,0,0.2);
	float: left;
	text-align: right;
	overflow: hidden;
}

.editor .gutter .line {
	height: 1.3em;
	padding: 0 0.75em;
}

.editor .gutter .line.cursor {
	background: #ddd;
	color: #888;
}

.editor .gutter .line.foldable:before {
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border-color: #ccc transparent transparent transparent;
	border-style:solid;
	border-width: 0.45em 0.25em;
	right: 0.25em;
	top: 0.55em;
	cursor: pointer;
}

.editor .gutter .line.foldable.cursor:before {
	border-color: #aaa transparent transparent transparent;
}

.editor .gutter .line.folded:before {
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #ccc;
	border-style:solid;
	border-width: 0.3em 0.4em;
	right: -0.2em;
	top: 0.4em;
	cursor: pointer;
}

.editor .gutter .line.folded.cursor:before {
	border-color: transparent transparent transparent #aaa;
}

.editor .window {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.editor .window .line-marker {
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.05);
	height: 1.3em;
	top: 0;
	outline: none;
}

.editor .window .cursor {
	height: 1.3em;
	position: absolute;
	top: 0;
	width: 0.15em;
	left: 0;
	margin-left: 0.75em;
}

.editor .window .cursor .marker {
	height: 1.3em;
	width: 0.15em;
	background: #aaa;
}

.editor.touch .window .cursor .tag {
	position: absolute;
	height: 3.6em;
	width: 56px;
	top: 0;
	margin: -1.15em 0;
	left: -28px;
	z-index: 20;
	cursor: text;
}

.editor .window .cursor.blink .marker {
	animation: blink 1s;
	animation-iteration-count: infinite;
	-moz-animation: blink 1s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation: blink 1s;
	-webkit-animation-iteration-count: infinite;
}

.editor .window .cursor.hidden { opacity: 0 }

.editor .line-marker .select {
	height: 1.3em;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #cce6ed;
}

.editor .line-marker .select.top {
	top: -2.6em;
}

.editor .line-marker .select.middle {
	top: -1.3em;
}

.editor .window .content {
	height: 100%;
	padding: 0 0.75em;
	position: relative;
	z-index: 6;
	overflow: hidden;
}

.editor .window .line {
	cursor: text;
	line-height: 1.3em;
	height: 1.3em;
	white-space: pre;
	position: relative;
	outline: none;
	text-shadow: 0 0 0 transparent;
	color: #000;
}

.editor .content span.folded {
	padding: 0 0.2em;
	letter-spacing:-0.1em;
}

.editor .key-toggle {
	font-size: 0.8em;
	opacity: 0.5;
	padding: 0.75em 1em 0.75em;
	float: left;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 21;
	border-radius: 0.5em 0 0.5em 0;
	background: rgba(0,0,0,0.1);
	display: none;
}

.editor .key-toggle img {
	height: 1.2em;
	margin-bottom: -0.3em;
}

.editor.touch .key-toggle { display: block; }

.editor.touch .key-toggle.hover {
	opacity: 1;
}

/* =Default Theme
*************************************************/
.editor .gutter {
	color: #e8e8ef;
	background: #87A96B;
}

.editor .window .line {
	color: rgba(70,70,70,1);
	text-shadow: 0 0 2px rgba(0,0,0,0);
}

.editor .window .cursor .zoom:after,
.editor .window .cursor .marker {
	background: #aaa
}

.editor .line,
.editor .line span {
	-webkit-transition: color 0.5s,text-shadow 0.5s;
	   -moz-transition: color 0.5s,text-shadow 0.5s;
	     -o-transition: color 0.5s,text-shadow 0.5s;
	        transition: color 0.5s,text-shadow 0.5s;
}

.editor span.folded {
	color: rgba(170, 170, 170, 1);
	text-shadow: 0 0 2px rgba(170, 170, 170, 0);
}

.editor span.keyword {
	color: rgba(0, 191, 255, 1);
	text-shadow: 0 0 2px rgba(0, 191, 255, 0);
}
.editor span.string {
	color: rgba(255, 0, 0, 1);
	text-shadow: 0 0 2px rgba(255, 0, 0, 0);
}
.editor span.comment {
	color: rgba(170, 170, 170, 1);
	text-shadow: 0 0 2px rgba(170, 170, 170, 0);
}

/* =Default Theme Blur
*************************************************/

.editor .window .line.blur {
	color: transparent;
	text-shadow: 0 0 3px rgba(70,70,70,1)
}

.editor .blur span.folded {
	color: rgba(170, 170, 170, 0);
	text-shadow: 0 0 2px rgba(170, 170, 170, 1);
}

.editor .blur span.keyword {
	color: rgba(0,0,0,0);
	text-shadow: 0 0 2px rgba(0, 191, 255, 1);
}

.editor .blur span.string {
	color: rgba(255, 0, 0, 0);
	text-shadow: 0 0 2px rgba(255, 0, 0, 1);
}

.editor .blur span.comment {
	color: rgba(170, 170, 170, 0);
	text-shadow: 0 0 2px rgba(170, 170, 170, 1);
}

@media screen and (max-width: 640px){
	.file-editor {
		padding: 0;
		font-size: 0.8em;
	}
	
	.editor,
	.editor:before,
	.editor .gutter {
		border-radius: 0;
	}
}