@font-face {
  font-family: "mono";
  src: url("../fonts/Inconsolata.otf");
}

/* =FileEditor
*************************************************/
.file-editor {
	position: absolute;
	top: 50%;
	height: 21em;
	left: 50%;
	margin-left: -40%;
	margin-top: -10em;
	box-sizing: border-box;
	width: 80%;
	font-family: sans-serif;

	-webkit-perspective: 3000px;
	-moz-perspective: 3000px;
	-ms-perspective: 3000px;
	-o-perspective: 3000px;
	perspective: 3000px;
}

.file-editor .settings,
.file-editor .editor {
	height: 20em;
	display: block;
	width: 100%;
	position: absolute;
	box-sizing: border-box;
	box-shadow: 0 3px 8px rgba(0,0,0,0.4);
	z-index: 4;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	-ms-transition: -ms-transform 0.8s;
	-o-transition: -o-transform 0.8s;
	transition: transform 0.8s;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.file-editor .settings {
	border-radius: 0.8em;
	font-family: mono;
	z-index: 6;
	background: #272822;

	-webkit-transform: rotateX(-180deg);
	   -moz-transform: rotateX(-180deg);
	    -ms-transform: rotateX(-180deg);
	     -o-transform: rotateX(-180deg);
	        transform: rotateX(-180deg);
}

.file-editor.edit .settings {
	-webkit-transform: rotateX(0deg);
	   -moz-transform: rotateX(0deg);
	    -ms-transform: rotateX(0deg);
	     -o-transform: rotateX(0deg);
	        transform: rotateX(0deg);
}

.file-editor.edit .editor {
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
	    -ms-transform: rotateX(180deg);
	     -o-transform: rotateX(180deg);
	        transform: rotateX(180deg);
}


.file-editor .settings h1 {
	border-radius: 0.3em 0.3em 0 0;
	background: #87A96B;
	color: #E8E8EF;
	margin: 0;
	text-indent: 1em;
	padding: 0.2em 0;
}

.file-editor .settings .preview {
    height: 13em;
    width: auto;
    -webkit-transform: none;
    position: relative;
    margin: 1em 1em 0;
    font-size: 0.8em;
    box-shadow: none;
    border: 2px solid #555;
    cursor: pointer;
}

.file-editor .settings .preview .line { cursor: pointer; }

.file-editor .settings .preview .line-marker { top: 2.6em }
.file-editor .settings .preview .line-marker .select { width: 5em }
.file-editor .settings .preview .line-marker .cursor { left: 4.3em }

.file-editor .settings .left {
	width: 50%;
	float: left;
	padding-top: 1em
}

.file-editor .settings .left h1 {
	border-radius: 0;
	background: transparent;
	font-size: 1.5em;
	border-bottom: 1px solid #87a96b;
}

.file-editor .settings .right { overflow: hidden }
.file-editor .settings .right .help {
	color: #ccc;
	font-size: 1.5em;
	text-align: center;
	margin: 4em 5em 0;
}

.file-editor .settings .right .help div {
	color: #555;
}

.file-editor .footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	box-sizing: border-box;
	padding: 0 0.5em;
}

.file-editor .footer .line-count {
	float: right;
	font-size: 0.7em;
	color: #888;
	padding-top: 0.4em;
}

.file-editor .footer .line-count span {
	color: #000;
	margin-right: 0.2em;
	width: 2.2em;
	display: inline-block;
	text-align: right;
}

.file-editor .footer .line-count input {
	font-family: inherit;
	font-size: inherit;
	text-align: right;
	width: 2.2em;
	background: rgba(0,0,0,0.05);
	color: #000;
	border: 1px solid #aaa;
	border-radius: 0.4em;
	margin: 0;
	padding: 0;
	margin-left: 0.2em;
	margin-top: -1px;
	outline: none;
}

.file-editor .footer .line-count input::-moz-selection,
.file-editor .footer .line-count input::selection {
	background: #ffb46c;
}

.file-editor .footer .set-button {
	float: left;
	font-size: 0.8em;
	color: #888;
	padding: 0.1em 0.5em 0;
	cursor: pointer;
}

.file-editor .footer .set-button.selected {
	color: #000;
}
