head
	meta(name='viewport', content='width=device-width,initial-scale=1')
	style(type='text/css')
		body {
			margin: 0;
			padding: 0;
			background: #e0e0c8;
		}

		/* =MediaQueries!
		*************************************************/
		@media screen and (max-width: 709px){
			.file-editor {
				padding: 0;
				font-size: 0.8em;
			}
			
			.editor,
			.editor:before,
			.editor .gutter {
				border-radius: 0;
			}
		}
	link(href="images/favicon.png", rel="icon", type="image/png")
	link(rel="stylesheet", type="text/css", href="css/file-editor.css")
	link(rel="stylesheet", type="text/css", href="css/editor.css")
	script(src="js/default.js", type="text/javascript")
	script(src="js/editor.js", type="text/javascript")
	script(src="js/file-editor.js", type="text/javascript")
body
	.file-editor
		.file-slider
			.slide
				.entry.open open
		.wrap
			.editor
				textarea
				.gutter
				.window
					.line-marker(style="display:none")
						.select.top
						.select.middle
						.select.bottom
						.cursor
							.marker
							.tag
					.content
					pre
				.key-toggle
					img(src="images/keyboard.png")
					| keyboard
			.settings
				h1 settings
				.bottom-wrap
					.left
						h1 editor preview
						.preview.editor
					.right
						.help
							div <----------------------
							| click on the editor to configure its look
							div <----------------------
			.ftp-browser
				.connected
					.btn change
					div
						| not connected
				.connector
					.loading <span>...</span>loading<span>...</span>
					.row.big
						.title server
						.input-wrap
							input
					.btn-wrap
						.btn connect
						.btn-c cancel
					.row
						.title username
						.input-wrap
							input
					.row
						.title password
						.input-wrap
							input(type="password")
					
				//-
					.connected
						.btn change
						| currently connected to
						span alex@66.91.23.153
				.info
					.blank
						h1 no file selected
						h2 make sure to find a good one
					.action
						.button.disabled open
						.button.last cancel
				.pane-slide
					.pane
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder.selected coolhjask dvkajshdv kjahsd vkjas dvkjhads vkjhads vkjhas dvkjhads vkjhads vkjhas dvkjhas dvkjh asdjhv 
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
					.pane
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder.selected coolhjask dvkajshdv kjahsd vkjas dvkjhads vkjhads vkjhas dvkjhads vkjhads vkjhas dvkjhas dvkjh asdjhv 
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
					.pane
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder.selected coolhjask dvkajshdv kjahsd vkjas dvkjhads vkjhads vkjhas dvkjhads vkjhads vkjhas dvkjhas dvkjh asdjhv 
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
					.pane
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder.selected coolhjask dvkajshdv kjahsd vkjas dvkjhads vkjhads vkjhas dvkjhads vkjhads vkjhas dvkjhas dvkjh asdjhv 
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
					.pane
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder.selected coolhjask dvkajshdv kjahsd vkjas dvkjhads vkjhads vkjhas dvkjhads vkjhads vkjhas dvkjhas dvkjh asdjhv 
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
					.pane
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder.selected coolhjask dvkajshdv kjahsd vkjas dvkjhads vkjhads vkjhas dvkjhads vkjhads vkjhas dvkjhas dvkjh asdjhv 
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
					.pane
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder.selected coolhjask dvkajshdv kjahsd vkjas dvkjhads vkjhads vkjhas dvkjhads vkjhads vkjhas dvkjhas dvkjh asdjhv 
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
					.pane
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder.selected coolhjask dvkajshdv kjahsd vkjas dvkjhads vkjhads vkjhas dvkjhads vkjhads vkjhas dvkjhas dvkjh asdjhv 
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
					.pane
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.folder.selected coolhjask dvkajshdv kjahsd vkjas dvkjhads vkjhads vkjhas dvkjhads vkjhads vkjhas dvkjhas dvkjh asdjhv 
						.entry.folder cool
						.entry.folder cool
						.entry.folder cool
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file files
						.entry.file files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file.unsupported files
						.entry.file files
		.footer
			.line-count
				| line:
				span 1
				| char:
				span 0
			.set-button settings
			select
				option choose a language
				option --------------
script
	var edit = new drdelambre.editor.FileEditor(document.getElementsByClassName('file-editor')[0]);
	window.addEventListener('load',function(){
		edit.open('js/editor.js');
		edit.open('css/editor.css');
	}, false);
