body
	.file-editor
		.file-slider
			img.fullscreen(src="images/fullscreen.png")
			.slide
				.entry.open open
		.wrap
			.editor
				textarea
				.gutter
				.window
					.line-marker(style="display:none")
						.select.top
						.select.middle
						.select.bottom
						.cursor
							.marker
							.tag
					.content
					pre
				.key-toggle
					img(src="images/keyboard.png")
					| keyboard
			.settings
				.menu
					h1 colors
					select
					input
				.disclaimer yeah, i have stuff to put here, there are just more pressing issues
			.file-browser
				.login
					.prompt
						.title
							| log in here
							div to save any changes you may have made
						.row
							.title email
							.input-wrap
								input
						.row
							.title password
							.input-wrap
								input(type='password')
						.button sign up
						.button.main login
						.button cancel
				.info
					.action.top
						.button.disabled rename
						.button.disabled.last remove
					.display.blank
						h1 no file selected
						h2 make sure to find a good one
					.display.folder
						img(src="images/folder.png")
						a.download download
						.name filename
						.modified
							| modified
							span tuesday
					.display.file
						img(src="images/file.png")
						a.download download
						.name filename
						.size 30MB
						.modified
							| modified
							span tuesday
					.display.create
						.input-wrap
							input(placeholder="name")
						.option folder
						.option.disabled file
					.action
						.button.disabled open
						.button.last cancel
				.pane-slide
		.footer
			.line-count
				| line
				span 1
				| char
				span 0
			select
				option choose a language
				option --------------
			.set-button settings
script
	var edit = new $dd.editor.FileEditor(document.getElementsByClassName('file-editor')[0]);
	edit.loadStyle({
		background: '#272822',
		gutter: '#555',
		highlight: '#49483e',
		line: '#302f29',
		cursor: '#aaa',

		text: '#f8f8f2',
		keyword: '#66D9EF',
		comment: '#75715E',
		operator: '#F92672',
		number: '#AE81FF',
		string: '#E6DB74',
		atom: '#FD971F'
	});
	window.addEventListener('load',function(){
		edit.open('js/editor.js');
		edit.open('css/editor.css');
	}, false);
