@font-face 
  font-family "mono"
  src url("../fonts/Inconsolata.otf")

/* =Editor
*************************************************/
.editor 
	border-radius 0.8em
	position relative
	height 20em
	background #fff
	font-family mono
	-webkit-text-size-adjust none
	-moz-text-size-adjust none
	-webkit-tap-highlight-color rgba(0,0,0,0)
	box-shadow 0 0 8px rgba(0,0,0,0.2)

	textarea 
		position absolute
		resize none
		padding 0
		margin 0
		border none
		outline none
		opacity 0
		width 20px
		left -1000px
	
	pre 
		display none

	.gutter 
		position relative
		height 100%
		z-index 2
		color #aaa
		background #eee
		border-radius 0.8em 0 0 0.8em
		float left
		text-align right
		overflow hidden

		.line 
			height 1.3em
			padding 0 0.75em

		.line.cursor 
			background #ddd
			color #888

		.line.foldable:before 
			content ''
			position absolute
			width 0
			height 0
			border-color #ccc transparent transparent transparent
			border-style solid
			border-width 0.45em 0.25em
			right 0.25em
			top 0.55em
			cursor pointer


		.line.foldable.cursor:before 
			border-color #aaa transparent transparent transparent

		.line.folded:before
			content ''
			position absolute
			width 0
			height 0
			border-color transparent transparent transparent #ccc
			border-style solid
			border-width 0.3em 0.4em
			right -0.2em
			top 0.4em
			cursor pointer
		
		.line.folded.cursor:before
			border-color transparent transparent transparent #aaa

	.window
		overflow hidden
		position relative
		height 100%
		border-radius 0 0.8em 0.8em 0
	
		.line-marker 
			position absolute
			width 100%
			background rgba(0,0,0,0.05)
			height 1.3em
			top 0
			outline none
		
			.cursor 
				height 1.3em
				position absolute
				top 0
				width 0.15em
				left 0
				margin-left 0.75em
			
				.marker 
					height 1.3em
					width 0.15em
					background #aaa
			
				.tag 
					position absolute
					height 3.6em
					width 56px
					top 0
					margin -1.15em 0
					left -28px
					z-index 20
					cursor text
			
			.select 
				height 1.3em
				width 100%
				position absolute
				top 0
				left 0
				background #cce6ed
			
			.select.top 
				top -2.6em
			
			.select.middle 
				top -1.3em
	
		.content 
			height 100%
			padding 0 0.75em
			position relative
			z-index 6
			overflow hidden
	
		.line 
			cursor text
			line-height 1.3em
			height 1.3em
			white-space pre
			position relative
			outline none
		
			-webkit-transition color 0.5s,text-shadow 0.5s
			-moz-transition color 0.5s,text-shadow 0.5s
			-o-transition color 0.5s,text-shadow 0.5s
			transition color 0.5s,text-shadow 0.5s
	
			span 
				-webkit-transition color 0.5s,text-shadow 0.5s
				-moz-transition color 0.5s,text-shadow 0.5s
				-o-transition color 0.5s,text-shadow 0.5s
				transition color 0.5s,text-shadow 0.5s
	
			span.folded 
				padding 0 0.2em
				letter-spacing -0.1em

	.key-toggle
		font-size 0.8em
		opacity 1
		padding 0.75em 1em 0.75em
		float left
		position absolute
		bottom 0
		right 0
		z-index 21
		border-radius 0.5em 0 0.5em 0
		background #555
		display none
		color #ccc
	
		img 
			height 1.2em
			margin-bottom -0.3em

.editor.touch
	pre
		display block
		position absolute
		margin 0
		border-radius 0 0.5em 0.5em 0
		box-sizing border-box
		left 0
		top 0
		padding-left 0.75em
		z-index 20
		height 100%
		min-width 100%
		font-size 1em
		font-family inherit
		line-height 1.3em
		background #fff
		color #000
		opacity 0

	.key-toggle
		display block 

	.key-toggle.hover 
		text-shadow 0 0 2px #fff
		color #fff


/* =Shameless Monokai Ripoff
*************************************************/
.editor
	.gutter 
		color #e8e8ef
		background #87A96B

	.window 
		color #F8F8F2
		background #272822
	
		.line-marker
			background #302f29 
			.select 
				background #49483E 
			.cursor .marker
				background #aaa 

	span.keyword
		color #66D9EF 
	span.comment
		color #75715E 
	span.operator
		color #F92672 
	span.number
		color #AE81FF 
	span.string
		color #E6DB74 
	span.atom
		color #FD971F 



