perspective(val)
	-webkit-perspective val
	-moz-perspective val
	-ms-perspective val
	-o-perspective val
	perspective val

transform-style(val)
	-webkit-transform-style val
	-moz-transform-style val
	-ms-transform-style val
	-o-transform-style val
	transform-style val

backface-visibility(val)
	-webkit-backface-visibility val
	-moz-backface-visibility val
	-ms-backface-visibility val
	-o-backface-visibility val
	backface-visibility val

transform(val)
	-webkit-transform val
	-moz-transform val
	-ms-transform val
	-o-transform val
	transform val

@font-face
	font-family "mono"
	src url("../fonts/Inconsolata.otf")

/* =FileEditor
*************************************************/
.file-editor
	position absolute
	width w = 80%
	height 90%
	top 5%
	left 50%
	margin-left -(w/2)
	box-sizing border-box
	font-family sans-serif
	padding-top 1.8em
	padding-bottom 1.5em
	perspective 3000px

	.file-slider
		position absolute
		top 0
		width 100%

		.slide
			white-space nowrap

		.entry
			display inline-block
			padding 0.2em 0.75em
			border-radius 0.3em
			font-size 0.8em
			margin 0 0.2em
			cursor pointer
			background #CFCCAF
			color #555
			box-shadow inset 0 1px 3px rgba(0,0,0,0.2)
			line-height 1.5em
			opacity 0.5
			max-width 500px
		
			overflow hidden
			-webkit-transition margin 0.5s, padding 0.3s, max-width 0.3s, opacity 0.5s

			span
				color #000
				font-size 0.8em
				font-weight bold
				padding 0 0.5em
				display inline-block
				margin-right -0.5em
				margin-left 0.2em

		.entry.selected
			box-shadow 0 2px 5px rgba(0,0,0,0.5)
			opacity 1

		.entry.removed
			max-width 0
			padding 0.2em 0
			margin 0
			opacity 0

	.wrap
		position relative
		height 100%

	.settings,
	.editor
		height 100%
		display block
		width 100%
		position relative
		border-radius 0.8em
		box-sizing border-box
		box-shadow 0 3px 8px rgba(0,0,0,0.4)
		z-index 4
	
		backface-visibility hidden
		transform-style preserve-3d
	
		-webkit-transition -webkit-transform 0.8s
		-moz-transition -moz-transform 0.8s
		-ms-transition -ms-transform 0.8s
		-o-transition -o-transform 0.8s
		transition transform 0.8s
	
	.ftp-browser
		height 100%
		display block
		width 100%
		position absolute
		box-sizing border-box
		z-index 8
		background rgba(39,40,34,0.9)
		border-radius 0.8em
		top 0
		left 0
		visibility hidden
		opacity 0

		backface-visibility hidden
		transform-style preserve-3d
	
		-webkit-transition -webkit-transform 0.8s, opacity 0.5s, visibility 0s linear 0.5s
		-moz-transition -moz-transform 0.8s, opacity 0.5s, visibility 0s linear 0.5s
		-ms-transition -ms-transform 0.8s, opacity 0.5s, visibility 0s linear 0.5s
		-o-transition -o-transform 0.8s, opacity 0.5s, visibility 0s linear 0.5s
		transition transform 0.8s, opacity 0.5s, visibility 0s linear 0.5s

		.connected
			position absolute
			z-index 2
			width 100%
			height 1.5em
			bottom 0
			left 0
			box-sizing border-box
			padding 0.2em 1em
			font-size 0.8em
			border-radius 0 0 1em 1em
			background #87A96B
			color #5c5f50
			text-align right
			overflow hidden

			-webkit-transition height 0.5s, padding 0.5s
			-moz-transition height 0.5s, padding 0.5s
			-ms-transition height 0.5s, padding 0.5s
			-o-transition height 0.5s, padding 0.5s
			transition height 0.5s, padding 0.5s

			span
				color #333
			.btn
				float right
				margin-left 1em
				color #e8e8ef
				cursor pointer

		.connector
			position absolute
			width 30em
			padding 0.7em 1em
			background-color #87A96B
			color rgba(0,0,0,0.5)
			border-radius 0.5em
			z-index 8
			margin-left -17em
			left 50%
			top 50%
			margin-top -4em
			opacity 0
			visibility hidden

			-webkit-transition opacity 0.5s, visibility 0s linear 0.5s
			-moz-transition opacity 0.5s, visibility 0s linear 0.5s
			-ms-transition opacity 0.5s, visibility 0s linear 0.5s
			-o-transition opacity 0.5s, visibility 0s linear 0.5s
			transition opacity 0.5s, visibility 0s linear 0.5s
			
			.btn-wrap
				float right
				text-align center
				margin 0.5em 0.75em 0 1em
			.btn
				padding 0.6em 0.8em
				font-size 1em
				cursor pointer
				color #fff
				background #7a9660
				box-shadow 0 0 8px rgba(0,0,0,0.4)
				border-radius 0.5em
				position relative
				z-index	1
			.btn-c
				font-size 0.8em
				line-height 1em
				cursor pointer
				position relative
				z-index 1

			.input-wrap
				overflow hidden
			input
				font-family inherit
				font-size inherit
				border none
				padding 0.2em
				box-sizing border-box
				width 100%
				border-radius 0.5em
				box-shadow inset 0 1px 5px rgba(0,0,0,0.3);
				outline rgba(0,0,0,0)
			.title
				float left
				margin-right 0.5em
				margin-top 0.2em
				width 4.4em
				text-align right
			.row
				opacity 0.3
			.row.big
				font-size 1.5em
				margin 0.2em 0 0.1em
				opacity 1
				.title
					width 3em
					margin-right 0.3em
					color rgba(0,0,0,0.7)
			.loading
				position absolute
				left 0
				top 50%
				margin-top -0.5em
				color #000
				width 100%
				text-align center
				z-index 4
				font-size 2em
				display none
				font-weight bold
				opacity 0.7

				span
					color rgba(0,0,0,0.75)
					
		.info
			height 100%
			position relative
			box-sizing border-box
			padding-bottom 1.2em
			width 25%
			float right
			opacity 1

			-webkit-transition opacity 0.5s
			-moz-transition opacity 0.5s
			-ms-transition opacity 0.5s
			-o-transition opacity 0.5s
			transition opacity 0.5s
			
			.blank
				position absolute
				top 50%
				width 100%
				margin-top -1em
				text-align center
				
				h1
					margin 0
					color #e8e8ef
					font-size 1.6em
					line-height 1em
				h2
					margin 0
					color #666
					font-size 1em
					line-height 1em
			.action
				width 100%
				position absolute
				bottom 1.2em
				border-top 1px solid #333
				
				.button
					float left
					width 40%
					margin 0 5%
					text-align center
					color #fff
					padding 0.5em 0
					cursor pointer
					border-right 1px solid #333
				.button.last
					border-right none
				.button.disabled
					color #333

		.pane-slide
			height 100%
			box-sizing border-box
			padding-bottom 1.2em
			overflow-x auto
			overflow-y hidden
			white-space nowrap
			margin 0 0.5em
			opacity 1

			-webkit-transition opacity 0.5s
			-moz-transition opacity 0.5s
			-ms-transition opacity 0.5s
			-o-transition opacity 0.5s
			transition opacity 0.5s

			.pane
				height 100%
				box-sizing border-box
				padding 0.5em 0
				width 30%
				overflow-x hidden
				overflow-y auto
				border-right 2px solid #333
				display inline-block
				vertical-align top
				
				.entry
					padding 0.2em 0 0 1.9em
					color #e8e8ef
					cursor pointer
					background-position 0.5em 50%
					background-size 1.2em
					background-repeat no-repeat
				.entry.selected
					color #fff
					background-color #00bfff
				.entry.folder
					background-image url(/images/folder.png)
				.entry.folder.selected
					background-image url(/images/folder_open.png)
				.entry.file
					background-image url(/images/file.png)
				.entry.file.unsupported
					opacity 0.2

	.ftp-browser.connect
		.connected
			height 0
			padding 0 1em
		.connector
			visibility visible
			opacity 1
			-webkit-transition-delay 0
			-moz-transition-delay 0
			-ms-transition-delay 0
			-o-transition-delay 0
			transition-delay 0
		.info,
		.pane-slide
			opacity 0

	.settings
		border-radius 0.8em
		font-family mono
		z-index 6
		background #272822
		top -100%
	
		transform rotateX(-180deg)

		h1
			border-radius 0.3em 0.3em 0 0
			margin 0
			text-indent 1em
			padding 0.2em 0
			color #e8e8ef
			background #87A96B

		.preview
			height 100%
			width auto
			position relative
			font-size 0.8em
			cursor pointer
			transform none
			box-shadow none
			background transparent
		
			.gutter
				border-radius 0
			.line
				cursor pointer
			.line-marker
				top 2.6em
			.line-marker .select
				width 5em
			.line-marker .cursor
				left 4.3em

		.right,
		.left
			width 50%
			padding 3em 0 1em
			height 100%
			overflow hidden
			position relative
			box-sizing border-box

		.left
			h1
				border-radius 0
				font-size 1.5em
				padding 0
				background transparent
				border-bottom 1px solid #87A96B
				position absolute
				top 0.8em
				width 100%
		
		.right
			overflow hidden
			padding 0
			top -100%
			left 50%
		
			.help
				color #ccc
				font-size 1.5em
				text-align center
				width 12.5em
				position absolute
				top 50%
				margin-left -6.25em
				left 50%
				margin-top -2em
		
				div
					color #555
		
			.menu
				text-align center
				overflow hidden
				width 24em
				background #33332c
				padding-bottom 0.5em
				border-radius 0.5em
				position absolute
				left 50%
				margin-left -12em
				top 50%
				margin-top -3em
		
				h1
					margin 0 0 0.3em
					border-bottom 1px solid #404040
					background transparent
					font-size 1.5em
					text-align left
		
					span
						color #fff
		
				.title
					display inline-block
					margin-right 0.5em
					color #888
		
				input
					border 2px solid #eee
					background #eee
					border-radius 0.5em
					font-size 1.2em
					outline none
					padding 0.2em 0.5em
					text-align right
					font-family inherit
					width 6em
				
					-webkit-transition border-color 0.3s
					-moz-transition border-color 0.3s
					-ms-transition border-color 0.3s
					-o-transition border-color 0.3s
					transition border-color 0.3s
		
				input.invalid
					border 2px solid #c00

	.bottom-wrap
		position absolute
		width 100%
		height 100%
		box-sizing border-box
		padding-top 3em
		top 0
		overflow hidden

	.footer
		position absolute
		width 100%
		bottom 0
		box-sizing border-box
		padding 0 0.5em
		text-align center
	
		.line-count
			float right
			font-size 0.7em
			color #888
			padding-to 0.2em
	
			span
				color #000
				margin-right 0.2em
				width 2.2em
				display inline-block
				text-align right
	
			input
				font-family inherit
				font-size inherit
				text-align right
				width 2.2em
				background rgba(0,0,0,0.05)
				color #000
				border 1px solid #aaa
				border-radius 0.4em
				margin 0
				padding 0
				margin-left 0.2em
				margin-top -1px
				outline none
		
			input::-moz-selection,
			input::selection
				background #ffb46c
		
		.set-button
			float left
			font-size 0.8em
			color #888
			padding 0.1em 0.5em 0
			cursor pointer
		
		.set-button.selected
			color #000

.file-editor.edit
	.editor
		transform rotateX(180deg)
	.ftp-browser
		transform rotateX(180deg)
	.settings
		transform rotateX(0deg)
		.preview
			transform none

.ftp-browser.open
	visibility visible
	opacity 1
	-webkit-transition-delay 0
	-moz-transition-delay 0
	-ms-transition-delay 0
	-o-transition-delay 0
	transition-delay 0

.ftp-browser.connecting
	.connector
		.row,
		.row.big
			opacity 0.1
		.btn-wrap
			opacity 0.2
		.loading
			display block
			opacity 0.4
